*{
	margin:0 ;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif ;
	text-decoration: none;
	list-style: none ;
}


.header{
	position: fixed ;
	top: 0;
	left:0 ;
	width: 100% ;
	padding: 20px 5%;
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(10px) ;
	display: flex;
	justify-content: space-between ;
	align-items: center;
	z-index: 100;
}

.button1{
	cursor: pointer;
	position: left;
	width: 5em;
	height: 4em;
	border: none;
	background:skyblue ;
	padding: 0.5em;
	display: flex;
	justify-content:center;
	gap: 0.7em;
	flex-direction: column;
	transition-duration: 0.5s;
	margin-left: 0;
}

.button1:hover{
	background: rgb(7, 142, 253);
}

.similar-line{
	height: 0.2em;
	background: #fff;
	border-radius: 1em;
	transition: all 0.5s cubic-bezier(0.19,1,0.2,1);
}

.line-1{
	width: 40%;
}

.line-2{
	width: 70%;
}

.line-3{
	width: 80%;
}

.button1:hover .line-1{
	width: 90%;
}

.button1:hover .line-2{
	width: 70%;
}

.button1:hover .line-3{
	width: 40%;
}

.logo{
	font-size: 30px;
	color: skyblue;
	font-weight: 600;
	transition: 0.3s ease;
	position: absolute-right;	
}

.logo:hover{
	color: skyblue;
	text-shadow: 0 0 25px blue;
    transform:scale(1.1);
}

.navbar a{
	font-size: 16px;
	color:white;
	font-weight: 300;
	margin: 0 20px;
	border-bottom:3px solid transparent;
	transition: 0.3s ease;
}

.navbar a:hover
{
	color:skyblue ;
	border-bottom: 3px solid skyblue;
	text-shadow: 0 0 25px blue;
    transform:scale(1.1);
}

.search-bar{
	display: flex;
}

.search-input{
	padding: 5px;
	border: 1px solid #ccc;
}

.search-button{
	padding: 5px 10px;
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
}

.home{
	width: 100%;
	min-height: 80vh;
	background: gray;
	display:flex;
	align-items:center;
	gap:7em;
	padding:30px 12% 0;

}

.home-content{
	max-width: 800px;
}

.home-content h1{
	font-size: 38px;
	line-height: 1.2;
}

.topics{
	width: 100%;
	min-height: 70vh;
	background: gray;

}

.topic-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 800px;
}

.btn1,.btn2,.btn3,.btn4,.btn5{
	width: 100%;
	padding: 20px;
	background-color: #007bff;
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 5px;
	font-size: 16px;
	text-align: center;
	font-weight: 300;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 0 0 0 black;


}

.btn1:hover{
	background-color: #0056b3;
	transform: translateY(-4px)
	translateX(-2px) ;
	color:whitesmoke ;
	border: 2px solid white;
	box-shadow: 2px 5px 0 0 black;
}

.btn2:hover{
	background-color: #0056b3;
	transform: translateY(-4px)
	translateX(-2px) ;
	color:whitesmoke ;
	border: 2px solid white;
	box-shadow: 2px 5px 0 0 black;
}

.btn3:hover{
	background-color: #0056b3;
	transform: translateY(-4px)
	translateX(-2px) ;
	color:whitesmoke ;
	border: 2px solid white;
	box-shadow: 2px 5px 0 0 black;
		}

.btn4:hover{
	background-color: #0056b3;
	transform: translateY(-4px)
	translateX(-2px) ;
	color:whitesmoke ;
	border: 2px solid white;
	box-shadow: 2px 5px 0 0 black;
}

.btn5:hover{
	background-color: #0056b3;
	transform: translateY(-4px)
	translateX(-2px) ;
	color:whitesmoke ;
	border: 2px solid white;
	box-shadow: 2px 5px 0 0 black;
	}


.footer{
	position:fixed;
	bottom: 0;
	left:0 ;
	width:100% ;
	padding:35px 10%;
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter:blur(10px) ;
	display: flex;
	justify-content:space-between ;
	align-items:center ;
	z-index:100 ;
}
@media(max-width:767px){
	.header{
	
		align-items: center;
		padding: 10px;
	}
	.logo{
		position: static;
		font-size: 24px;
		margin: 5px 0;
	}
	.navbar{
		
		align-items: center;
        gap: 10px;
        /*padding-right: 0;*/
	}
	.navbar a{
		font-size: 14;
	}

   .search{
	display: inline-flex;
	align-items: center;
	background-image: #c22957;
	color: #fff;
	padding: 5px;
	border-radius: 4px;
	border: 1px solid #fff;
	gap: 3px;
	margin-left:20px ;
    }


.search :is(input,.button3){
	background: transparent;
	color: inherit;
	border: none;
	outline: none;
}
.searchinput{
	width: 50px;
	transition: width 0.5s;
}
.searchbutton{
	display: grid;
	place-items: center;
	width: 15px;
	height: 20px;
	cursor: pointer;
	transition: color 0.25s;
}
.searchbutton:hover{
	color: #e3e3e3;
}
.search:focus-within input{
	width: 100px;
}
::placeholder{
	font:inherit;
	color: #e3e3e3;
}

	.home{
		
		gap: 2em;
	}
	.home-content h1{
		font-size: 28px;
	}

	.btn1,.btn2,.btn3,.btn4,.btn5{

		font-size: 14px;
		padding: 15px;
	}
}

@media(min-width:768px) and (max-width:1023px){
    
    .logo{
    	font-size: 28px;
     }
     .navbar a{
     	font-size: 15px;

     }
     .searchinput{
     	width: 120px;
     	transition: 0.5s;
     }
     .home{
     	padding: 100px 8% 0;
     }
     .home-content h1{
     	font-size: 32px;
     }
     .btn1,.btn2,.btn3,.btn4,.btn5{
     	font-size: 15px;
     }

}





